@media screen and (max-width: 1280px) {
  .section1 .txt_center .inner p {
    font-size: 15vw;
  }
}
@media screen and (max-width: 1024px) {
  .section1 .con {
    /* height: auto; */
    height: 100vh;
    padding-top: 20vw;
    overflow: hidden;
  }
  .section2 .con2 {
    height: auto;
  }
  .con2_wrap {
    flex-direction: column;
    gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .m_none {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header_inner {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .section1 .con {
    align-items: center;
  }
  .partyWrap {
    width: 95%;
  }
  .party {
    transform: scale(0.8);
  }
  .d_block {
    display: block;
  }
  .section1 .txt_center .inner p {
    font-size: 22vw;
    /* word-break: keep-all; */
  }
  .section1 .txt_center .inner .txt_t {
    left: 10%;
    bottom: -5%;
  }
  .section1 .txt_center .inner .txt_b {
    top: 0%;
  }
  .hello {
    text-align: center;
  }

  .con2_wrap {
    display: flex;
    align-items: center;
    padding: 5%;
  }
  /* 슬라이드 */
  .con h1 {
    /* margin: 1.2vw 0 2vw; */
    font-size: 80px;
  }
  .con_item {
    flex-direction: column;
  }
  .con > p {
    margin-top: 2vw;
    font-size: 7vw;
  }
  .con > p > span {
    font-size: 15vw;
    -webkit-text-stroke: 2px #bb86fc;
  }
  .desc_txt > p {
    font-size: 5vw;
    margin-bottom: 2vw;
  }
  .desc_txt > p.desc_title {
    color: #20cf70;
    margin-bottom: 1vw;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 30px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 80%;
    color: #bb86fc;
  }
}
