/* 구글폰트 DM serif */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
/* 눈누 프리텐다드 */
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}
/* DM 세리프 */
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* 시작 */
.header {
  position: fixed;
  width: 100%;
  z-index: 99;
}
.header_inner {
  font-family: "Pretendard";
  margin: 0 auto;
  max-width: 1550px;
  padding: 0 5%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.header nav ul {
  display: flex;
  gap: 3vw;
}
.header nav ul li a {
  color: #fff;
}
.header nav ul li:hover a {
  font-style: italic;
  color: #bb86fc;
}
.section {
  background: #222;
  font-family: "Pretendard";
  color: #fff;
}
.section1 .con {
  position: relative;
  background: #222;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
/* 센터 텍스트 이동 시 */
.txt_center {
  display: flex;
  justify-content: center;
  position: relative;
  top: 14vw;
}
.section1 .txt_center .inner {
  font-family: "DM Serif Text";
}
.section1 .txt_center .inner .txt_t {
  position: relative;
  left: -5%;
  bottom: -5%;
  z-index: 1;
}
.section1 .txt_center .inner .txt_b {
  position: relative;
  right: -10%;
  top: -3%;
}
.section1 .txt_center .inner p {
  font-size: 180px;
  letter-spacing: -2px;
  color: #fff;
  line-height: 1;
}

.section1 .txt_center .inner span {
  display: inline-block;
}
.section1 .txt_center .inner .txt_t span.to {
  color: #bb86fc;
}
.section1 .txt_center .inner .txt_b span.beyond {
  -webkit-text-stroke: 3px #bb86fc;
  color: transparent;
  font-style: italic;
}

/* 메인 애니 */

.party {
  position: absolute;
  top: 31%;
  left: 45%;
  width: 500px;
  height: 300px;
}

.party svg {
  width: 100%;
  height: 100%;
}

.st0 {
  fill: none;
  stroke: #bb86fc;
  stroke-width: 4;
}
.party img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px; /* 이미지 크기 조정 */
  height: auto;
  pointer-events: none;
  transition: transform 5s linear;
}

.txt_bottom {
  width: 100%;
}
.txt_bottom .bt_inner {
  margin: 0 auto;
  height: 80px;
  padding: 0 5%;
  max-width: 1550px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  color: #fff;
}
/* 섹션2 */
.section2 .con2 {
  max-width: 1240px;
  margin: 0 auto;
  height: 100vh;
}
.con2_wrap {
  display: flex;
  align-items: center;
  padding: 5% 3%;
  height: 100%;
}
.con2_wrap > div {
  flex: 1;
  border: 1px solid indianred;
}
.section2 .con2 .con2_wrap .left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section2 .con2 .con2_wrap .left .hello {
  margin-bottom: 2vw;
}
.section2 .con2 .con2_wrap .left .hello > p {
  /* font-size: 40px; */
  font-size: clamp(38px, 2vw, 50px);
  word-break: keep-all;
}
.section2 .con2 .con2_wrap .left .hello span {
  color: #bb86fc;
}
.section2 .con2 .con2_wrap .list .title {
  /* font-size: 22px; */
  font-size: clamp(18px, 2vw, 22px);
  color: #bb86fc;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.list_con {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  gap: 30px;
  font-size: clamp(14px, 2vw, 16px);
}
.list.edu_list > .list_con,
.list.sk_list > .list_con {
  gap: 5px;
}
.list.edu_list > .list_con > span:nth-child(1) {
  width: 150px;
}

.list.sk_list .list_con p {
  width: 40px;
  height: 40px;
}
.list.sk_list .list_con p:nth-child(5),
.list.sk_list .list_con p:nth-child(6) {
  background: rgba(255, 255, 255, 0.9);
}
/* .list.sk_list .list_con img {
  width: 100%;
  object-fit: cover;
} */
.list.sk_list .list_con > span {
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid #fff;
  border-radius: 3px;
}
/* 프로필 */
.section2 .con2 .con2_wrap .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.section2 .con2 .con2_wrap .right .prifile {
  text-align: right;
}
.section2 .con2 .con2_wrap .right .prifile .name {
  text-transform: uppercase;
  color: #bb86fc;
  font-size: 25px;
}

.section2 .con2 .con2_wrap .right .right_title > p {
  /* font-size: 10vw; */
  font-size: clamp(120px, 15vw, 200px);
  text-align: right;
  line-height: 0.6;
  color: #bb86fc;
  font-family: "DM Serif Text";
  position: relative;
  top: 10px;
  z-index: 1;
}
.section2 .con2 .con2_wrap .right .right_title p span {
  font-size: clamp(120px, 15vw, 200px);
  -webkit-text-stroke: 3px #bb86fc;
  color: transparent;
}
.section2 .con2 .con2_wrap .right .prifile > p {
  margin-bottom: 2px;
  color: #777;
}

/* work 스와이퍼 슬라이드 */
.swiper {
  overflow: hidden;
}
.slide_con {
  position: relative;
  top: 10%;
  padding: 0 5%;
}
.slide_item {
  height: 90vh;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide_con h1 {
  font-size: clamp(70px, 5vw, 120px);
  position: absolute;
  top: 0;
  line-height: 1.1;
  text-align: center;
  color: #ddd;
  z-index: 1;
}

.mockup_img {
  /* position: absolute; */
  top: 100px;
}
.swiper-slide img {
  width: 100%;
  max-width: 900px;
  object-fit: cover;
}
.mobile_bg {
  width: 100%;
  height: 600px;
  display: none;
  opacity: 1;
}
.mobile_bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-repeat: no-repeat;
  mask-size: cover;
}
.desc_txt {
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .header_inner {
    justify-content: center;
  }
  .m_none {
    display: none;
  }
  .slide_item {
    justify-content: space-between;
  }
  .img_wrap {
    width: 100%;
  }
  .mobile_bg {
    display: block;
  }
  .mockup_img {
    position: absolute;
    top: 350px;
  }
  .slide_con h1 {
    top: 150px;
  }
}
