/* 구글폰트 DM serif */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
/* 눈누 프리텐다드 */
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}
/* DM 세리프 */
.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* 시작 */
.header {
  position: fixed;
  width: 100%;
  z-index: 99;
}
.header_inner {
  font-family: "Pretendard";
  margin: 0 auto;
  max-width: 1550px;
  padding: 0 5%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.header nav ul {
  display: flex;
  gap: 3vw;
}
.header nav ul li a {
  color: #fff;
}
.header nav ul li:hover a {
  font-style: italic;
  color: #bb86fc;
}
.section {
  background: #222;
  font-family: "Pretendard";
  color: #fff;
}
.section1 .con {
  position: relative;
  background: #222;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
/* 센터 텍스트 이동 시 */
.txt_center {
  display: flex;
  justify-content: center;
  position: relative;
  top: 14vw;
}
.section1 .txt_center .inner {
  font-family: "DM Serif Text";
}
.section1 .txt_center .inner .txt_t {
  position: relative;
  left: -5%;
  bottom: -5%;
  z-index: 1;
}
.section1 .txt_center .inner .txt_b {
  position: relative;
  right: -10%;
  top: -3%;
}
.section1 .txt_center .inner p {
  font-size: 180px;
  letter-spacing: -2px;
  color: #fff;
  line-height: 1;
}

.section1 .txt_center .inner span {
  display: inline-block;
}
.section1 .txt_center .inner .txt_t span.to {
  color: #bb86fc;
}
.section1 .txt_center .inner .txt_b span.beyond {
  -webkit-text-stroke: 3px #bb86fc;
  color: transparent;
  font-style: italic;
}

/* 메인 애니 */
.party {
  position: absolute;
  top: 31%;
  left: 45%;
  width: 500px;
  height: 300px;
}

.party svg {
  width: 100%;
  height: 100%;
}

.st0 {
  fill: none;
  stroke: #bb86fc;
  stroke-width: 4;
}
.party img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px; /* 이미지 크기 조정 */
  height: auto;
  pointer-events: none;
  transition: transform 5s linear;
}

.txt_bottom {
  width: 100%;
}
.txt_bottom .bt_inner {
  margin: 0 auto;
  height: 80px;
  padding: 0 5%;
  max-width: 1550px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  color: #fff;
}
/* 섹션2 */
.section2 .con2 {
  max-width: 1240px;
  margin: 0 auto;
  height: 100vh;
  padding: 0 2%;
  border: 1px solid rosybrown;
}
.section2 .con2 .con2_inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2vw;
}
.section2 .con2 .con2_inner > div {
  border: 1px solid wheat;
  flex: 1;
}
