@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.franchise {
  font-family: "Paperozi";
  box-sizing: border-box;
  margin-top: 90px;
  padding: 150px 0;
  text-align: center;
}
.franchise > h1 {
  font-size: 36px;
  margin-bottom: 150px;
  font-weight: 500;
}
.franchise_inner {
  width: 1400px;
  margin: 0 auto;
}
.title_bg {
  width: 100%;
  height: 525px;
  background-image: url(../images/franchise_bg_01.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.title_bg .title {
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  color: #fff;
  padding: 50px 0px 284px 60px;
}
.title_bg .title > h1 {
  font-size: 53px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: -0.03px;
  margin-bottom: 20px;
}
.title_bg .title > a {
  color: #fff;
  font-size: 31px;
}
.franchise_inner ul.list {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.franchise_inner ul.list li {
  flex: 1;
  background-color: #062f78;
}
.franchise_inner ul.list li a {
  display: block;
  padding: 24px 0;
  font-size: 30px;
  color: #fff;
}
.franchise_inner .inner_bottom {
  margin-top: 120px;
}
.franchise_inner .bottom_con {
  max-width: 1096px;
  margin: 0 auto;
  background-image: url(../images/franchise_bg_02.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.franchise_inner .inner_bottom h2 {
  font-size: 53px;
  font-weight: 500;
  color: #062f78;
}
.franchise_inner .inner_bottom .inner_txt {
  margin-top: 45px;
}
.franchise_inner .inner_bottom .inner_txt h2 {
  margin-bottom: 40px;
}
.franchise_inner .inner_bottom .inner_txt p {
  font-size: 25px;
  line-height: 1.65;
}
.franchise_inner .inner_bottom .inner_txt strong {
  font-weight: 600;
}
