/* DM Sans */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* scoredream */
@font-face {
  font-family: "scoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff")
    format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
html {
  scroll-behavior: smooth;
}
/* 메뉴 */
header {
  width: 100vw;
}
.header {
  width: 100%;
  height: 100px;
  padding: 0 180px;
  position: fixed;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.header > a > img {
  width: 213px;
  display: block;
}

.header nav ul {
  display: flex;
  gap: 2rem;
}
.header nav ul li a {
  font-size: 18px;
  font-weight: 700;
  display: block;
  padding: 10px 15px;
}
.header nav ul li a:hover {
  border-bottom: 3px solid #0066ff;
  text-decoration: none;
  padding-bottom: 7px;
}
.header .menu_right {
  display: flex;
  gap: 10rem;
}
.header .menu_right .lan {
  align-self: center;
}
.header .menu_right .lan > a {
  font-size: 18px;
  font-weight: bold;
  margin-right: 3px;
}
.header .menu_right .lan i.fa-solid {
  margin-left: 5px;
  font-size: 12px;
}
.header .menu_right .lan {
  position: relative;
}
.header .menu_right .lan > .lan_inner {
  position: absolute;
  top: 25px;
  left: -5px;
  text-align: center;
  border-radius: 7px;
  background-color: #d4d4d4;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  display: none;
}
.header .menu_right .lan > .lan_inner > a {
  display: block;
  padding: 7px 10px;
}

/* 메뉴 끝*/
/* 상단 */
.visual {
  width: 100%;
  height: 100vh;
  background: url(../images/sub_bg1.jpg);
  background-size: cover;
  position: relative;
}

.visual > p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 180px;
}
.visual_txt img {
  width: 200px;
  display: block;
  margin-bottom: 20px;
}
.visual_txt {
  position: absolute;
  font-size: 19px;
  right: 12%;
  bottom: 12%;
  color: #fff;
}
/* 섹션 시작 */
section ul li {
  display: flex;
  height: 770px;
  /* aspect-ratio: 1/0.5; */
  /* ↑ aspect-ratio 가로 비율에 세로는 절반 */
}
section ul li:nth-child(even) {
  flex-direction: row-reverse;
}
section ul li > div,
section ul li > p {
  flex: 1;
  background-size: cover;
  background-position: center;
}
section ul li > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #fff;
}
section ul li > div h4 {
  font-family: "DM Sans", sans-serif;
}
section ul li > div h1 {
  font-family: "scoredream";
  font-size: 37px;
}
section ul li:nth-child(1) > div {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/bg_G.png);
}
section ul li:nth-child(2) > div {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/bg_B.png);
}
section ul li:nth-child(3) > div,
section ul li:nth-child(4) > div {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/bg_W.png);
  color: #06f;
}

section ul li > div a {
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

section ul li:nth-child(3) > div a,
section ul li:nth-child(4) > div a {
  color: #06f;
  border-color: #06f;
}

section ul li:nth-child(1) > p {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/sub1/bg2.png);
}
section ul li:nth-child(2) > p {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/sub1/bg3.png);
}
section ul li:nth-child(3) > p {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/sub1/bg4.png);
}
section ul li:nth-child(4) > p {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/sub1/bg5.png);
}
/* 메인 섹션 끝 */
/* 브랜드 로드 시작 */
.brand {
  background: #f1f1f1;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 200px;
}
.brand > h1 {
  font-size: 40px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
}
.brand .brand_inner {
  margin-top: 125px;
}
.brand_inner .brand_img {
  position: relative;
  margin: 0 auto;
  position: relative;
  max-width: 1440px;
  height: 1700px;
  background: url(../images/bottom_img.png) no-repeat top;
}

.brand .brand_inner .txt_box {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}

.brand .brand_inner .one {
  top: 2%;
  left: 55%;
}
.brand .brand_inner .two {
  top: 23%;
  left: 47%;
  text-align: right;
}
.brand .brand_inner .three {
  top: 43%;
  left: 25%;
}
.brand .brand_inner .four {
  top: 50%;
  left: 60%;
  text-align: left;
}
.brand .brand_inner .five {
  top: 72%;
  left: 60%;
  text-align: right;
}
.brand .brand_inner .six {
  top: 92%;
  left: 5%;
}
.brand .brand_inner .txt_box .txt > h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
}
.brand .brand_inner .txt_box .txt > p {
  font-size: 14px;
}
.brand .bookLink {
  margin-top: 80px;
}
/* 브랜드 로드 끝 */
/* 푸터 */
.footer {
  background: #0e0c0c;
  padding: 50px 180px;
  color: #fff;
  position: relative;
}
.footer > ul {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.footer > ul > li > a {
  color: #fff;
  font-size: 18px;
}
.footer p:first-of-type {
  font-size: 12px;
  margin-bottom: 10px;
}
.footer p:last-of-type {
  margin-bottom: 40px;
}
.footer .sns > ul {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 50px;
  right: 200px;
}
.footer .sns img {
  width: 42px;
  display: block;
}
.footer_logo img {
  width: 213px;
  margin: 0 auto;
  display: block;
}
.footer .scroll_up {
  position: absolute;
  top: 60px;
  right: 130px;
  animation: upDown 1.1s linear 0s infinite alternate;
}

@keyframes upDown {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(10px);
  }
}
