/* DM Sans */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* scoredream */
@font-face {
  font-family: "scoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff")
    format("woff");
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
ul li {
  display: flex;
  /* height: 770px; */
  aspect-ratio: 1/0.5;
  /* ↑ aspect-ratio 가로 비율에 세로는 절반 */
}
ul li:nth-child(even) {
  flex-direction: row-reverse;
}
ul li > div,
ul li > p {
  flex: 1;
  background-size: cover;
  background-position: center;
}
ul li > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #fff;
}
ul li > div h4 {
  font-family: "DM Sans", sans-serif;
}
ul li > div h1 {
  font-family: "scoredream";
  font-size: 37px;
}
ul li:nth-child(1) > div {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/bg_G.png);
}
ul li:nth-child(2) > div {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/bg_B.png);
}
ul li:nth-child(3) > div,
ul li:nth-child(4) > div {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/bg_W.png);
  color: #06f;
}

ul li > div a {
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

ul li:nth-child(3) > div a,
ul li:nth-child(4) > div a {
  color: #06f;
  border-color: #06f;
}

ul li:nth-child(1) > p {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/sub1/bg2.png);
}
ul li:nth-child(2) > p {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/sub1/bg3.png);
}
ul li:nth-child(3) > p {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/sub1/bg4.png);
}
ul li:nth-child(4) > p {
  background-image: url(https://www.jpdc.co.kr/pub/site/samdasoo/new_images/sub1/bg5.png);
}
