* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
header {
  width: 100%;
}
.header {
  width: 100%;
  height: 100px;
  padding: 50px 180px 0;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rebeccapurple;
}

.header > a.logo > img {
  width: 213px;
  display: block;
}
.header .btn_wrap {
  display: flex;
  gap: 30px;
}

.header .open_btn {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/menu_b.png) no-repeat center center;
  background-size: 100%;
}
/* .header > .open_btn {
  position: relative;
  top: 55px;
  right: left;
 
  border: 1px solid rebeccapurple;
} */
.close_btn {
  position: absolute;
  z-index: 90;
  width: 50px;
  height: 50px;
  border: 1px solid red;
  top: 55px;
  right: 200px;
  display: none;
}
.close_btn .material-symbols-outlined {
  color: #fff;
  font-size: 40px;
}

/* 버튼 메뉴 */
.menu_inner {
  width: 100%;
  height: 100%;
  background: url(../images/bg_B.png);
  position: fixed;
  right: -100%;
  top: 0;
  overflow: hidden;
  z-index: 90;
  transition: 1s;
  transition: right 0.8s;
}
.menu_inner.on {
  right: 0;
}

.menu_inner > .menu_wrap ul {
  position: absolute;
  left: 22%;
  top: 22%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.menu_inner .menu_wrap ul li {
  position: relative;
}
.menu_inner .menu_wrap ul li::before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 33px;
  background: #fff;
}
.menu_inner .menu_wrap ul li a {
  display: block;
  font-size: 45px;
  color: #fff;
  font-weight: bold;
}
/* 메인 섹션 */
section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section .txt {
  z-index: 1;
  position: relative;
  top: -80px;
}
section .txt > p {
  font-size: 18px;
  color: #777;
}
section .txt > p > strong {
  font-size: 30px;
  color: #0066ff;
}
section:nth-of-type(2) .txt > p,
section:nth-of-type(3) .txt > p {
  color: #fff;
}
section:nth-of-type(2) .txt > p > strong,
section:nth-of-type(3) .txt > p > strong {
  color: #fff;
}
section:nth-of-type(1) {
  background-image: url(../images/bg_W.png);
  z-index: 1;
}
section:nth-of-type(2) {
  background-image: url(../images/bg_B.png);
}
section:nth-of-type(3) {
  background-image: url(../images/bg_G.png);
}
.samdasoo > img {
  width: 232px;
}
.samdasoo {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
section p:last-child {
  position: relative;
  z-index: 20;
}

.sns_content {
  height: 918px;
  /* min-height: 1280px; */
  background-image: url(../images/bg4.jpg);
  background-position: center bottom;
  /* background-size: cover; */
  text-align: center;
  padding: 330px 180px 90px;
}
.sns_title p:first-child {
  font-size: 37px;
}
.sns_title span {
  color: #0066ff;
}
.sns_title p:last-child {
  font-size: 18px;
}
/* 푸터 */
.footer {
  background: #0e0c0c;
  padding: 50px 180px;
  color: #fff;
  position: relative;
}
.footer > ul {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.footer > ul > li > a {
  color: #fff;
  font-size: 18px;
}
.footer p:first-of-type {
  font-size: 12px;
  margin-bottom: 10px;
}
.footer p:last-of-type {
  margin-bottom: 40px;
}
.footer .sns > ul {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 50px;
  right: 200px;
}
.footer .sns img {
  width: 42px;
  display: block;
}
.footer_logo img {
  width: 213px;
  margin: 0 auto;
  display: block;
}
.footer .scroll_up {
  position: absolute;
  top: 60px;
  right: 130px;
  animation: upDown 1.1s linear 0s infinite alternate;
}

@keyframes upDown {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(10px);
  }
}
