* {
  margin: 0;
  padding: 0;
}
header {
  width: 100vw;
  position: fixed;
}
.header {
  width: calc(100% - 180px);
  margin: 0 auto;
  top: 0;
  height: 140px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.header > a > img {
  width: 213px;
  display: block;
}
.header .menu {
  width: 30px;
  height: 30px;
  display: block;
}
.header .menu img {
  width: 100%;
}
/* 메인 섹션 */
section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section .txt {
  margin-bottom: 100px;
}
section .txt > p {
  font-size: 18px;
  color: #777;
}
section .txt > p > strong {
  font-size: 30px;
  color: #0066ff;
}

section:nth-of-type(1) {
  background-image: url(../images/bg_W.png);
  z-index: 1;
}
section:nth-of-type(2) {
  background-image: url(../images/bg_B.png);
}
section:nth-of-type(3) {
  background-image: url(../images/bg_G.png);
}
.samdasoo > img {
  width: 232px;
}
.samdasoo {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
section p:last-child {
  position: relative;
  z-index: 20;
}
