@font-face {
  font-family: "MinSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.wrap {
  font-family: "MinSans";
}
header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  transition: 0.5s;
}

header.on {
  transition: 0.5s;
  background: #fff;
}
.header_top .lan > a,
.links > a,
nav.menu > ul > li > a {
  color: #fff;
}

.header_top .lan > a.on,
.links > a.on,
nav.menu > ul > li > a.on {
  color: #000;
}
.header_top .lan img,
.links > a > img {
  filter: invert(100%);
}
.header_top .lan img.on,
.links > a > img.on {
  filter: invert(0%);
}

.header .header_top {
  max-width: 1100px;
  height: 78px;
  margin: 0 auto;
  position: relative;
  padding: 10px 2% 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header .header_top .lan {
  position: relative;
}
.header .header_top .lan > a {
  font-size: 15px;
  height: 100%;
}

.header .header_top .lan img {
  display: inline-block;
  margin-left: 5px;
}
.header .header_top .lan img.active {
  transform: rotate(180deg);
}
.lan_inner {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  background: #fff;
}
.lan_inner.on {
  display: block;
}
.lan_inner > ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 10px 0;
}
.lan_inner > ul li a {
  width: 100%;
  padding: 5px 10px;
  font-size: 13px;
  display: block;
}
.lan_inner > ul li:hover a {
  background: #eee;
}
.header .header_top .logo {
  align-self: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header .header_top .logo img {
  display: block;
  width: 166px;
}
.header .header_top .links > a {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}
.header .header_top .links > a::after {
  content: "|";
  position: absolute;
  right: 0;
}
.header .header_top .links > a:last-child img {
  vertical-align: top;
}
.header .header_top .links > a:last-child::after {
  content: "";
}

/* nav 메뉴 시작 */

.header nav.menu > ul {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2vw;
}

header nav.menu > ul > li > a {
  padding: 12px 0;
  height: 100%;
  display: block;
  /* background: #ddd; */
}
header nav.menu > ul > li > a:hover {
  font-weight: bold;
}
/* nav 메뉴 끝 */
/* 서브메뉴 */
.sub {
  position: absolute;
  left: 0;
  top: 122px;
  width: 100%;
  background: #aaa;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}
.sub.show {
  transition: 0.5s;
  opacity: 1;
}
.sub > ul {
  background: #fff;
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
.sub > ul h4,
.sub > ul a {
  font-size: 15px;
  line-height: 2;
  color: #888;
}
/* 비주얼 슬라이드 */
.visual_con {
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: 100%;
  background: #000;
}
.slide_txt {
  position: absolute;
  color: #fff;
  bottom: 25%;
  left: 13%;
}
.slide_txt > p {
  margin-bottom: 20px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
