@font-face {
  font-family: "MinSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.wrap {
  font-family: "MinSans";
}
header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #efefef;
  z-index: 9;
  /* display: none; */
}
.header {
  background: #efefef;
  width: 1100px;
  border: 1px solid;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}
.header .header_top {
  display: flex;
  height: 78px;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 10px;
}
.header .header_top .lan {
  position: relative;
}
.header .header_top .lan > a {
  font-size: 15px;
  height: 100%;
}
.header .header_top .lan img {
  display: inline-block;
  margin-left: 5px;
}
.header .header_top .lan img.on {
  transform: rotate(180deg);
}
.lan_inner {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
}
.lan_inner > ul li a {
  width: 100%;
  font-size: 13px;
  display: inline-block;
  line-height: 1.5;
  padding: 0 20px;
}
.lan_inner > ul li:hover a {
  background: #eee;
}
.header .header_top .logo {
  align-self: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header .header_top .logo img {
  display: block;
  width: 166px;
}
.header .header_top .links > a {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}
.header .header_top .links > a::after {
  content: "|";
  position: absolute;
  right: 0;
}
.header .header_top .links > a:last-child img {
  vertical-align: top;
}
.header .header_top .links > a:last-child::after {
  content: "";
}
/* nav 메뉴 시작 */
.header nav {
  height: 44px;
}
.header nav.menu ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2vw;
}

/* nav 메뉴 끝 */
/* 비주얼 슬라이드 */
.visual_con {
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: 100%;
  background: #000;
}
.slide_txt {
  position: absolute;
  color: #fff;
  bottom: 10%;
  left: 10%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
