* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

header {
  font-family: "Fahkwang", sans-serif;
  /* padding: 0 1.3rem; */
  padding: 0 3rem;
  position: absolute;
  left: 0;
  width: 100%;
  top: 20px;
  z-index: 1;
}

.header_inner {
  border-radius: 1rem;
  /* width: 100%; */
  height: 94px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.header_inner.on {
  position: fixed;
  top: 20px;
  background-color: rgb(250, 250, 250);
  /* left: 3rem; 
  right: 3rem;
  width: auto; */
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 6rem);
}
.header_inner a {
  font-size: 20px;
}
.header_inner .logo_wrap {
  display: flex;
  gap: 0.4rem;
}
.header_inner .logo {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
}
.header_inner i {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: #222;
  border-radius: 50%;
  animation: blur 6s linear 0s infinite;
}
@keyframes blur {
  0% {
    filter: blur(0.2px);
  }

  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0.2px);
  }
}
.header_inner > nav ul {
  display: flex;
  gap: 2.4rem;
}
.header_inner > nav ul li a {
  font-weight: 700;
}
.header_inner > nav ul li:hover a {
  font-style: italic;
}

.header_inner > .login {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}
.header_inner > .login > a:first-of-type {
  display: block;
  font-weight: 700;
  /* border-bottom: 1px solid; */
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
}
.header_inner > .login > a:last-of-type {
  display: block;
  padding: 0 2.25rem;
  border-radius: 0.4rem;
  line-height: 3.2rem;
  background: #000;
  color: #fff;
  font-weight: 700;
}
.header_inner > .login > a:last-of-type:hover {
  background: #cc65fd;
}

.con_wrap {
  margin: 20px;
  font-family: "Fahkwang", sans-serif;
}
/* 상단배너 */
.main_banner {
  min-height: 90vh;
  /* padding: 165rem 0 150rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
  background-color: #ddd;
}
.main_banner > .inner_txt h1 {
  font-size: 68px;
}
.main_banner > .inner_txt p {
  font-size: 18px;
  margin: 1rem 0 3.75rem;
}
.main_banner > .inner_txt a.start_btn {
  display: inline-block;
  padding: 1.5rem 11.25rem;
  background: #000;
  font-size: 24px;
  color: #fff;
  border-radius: 1rem;
}
.main_banner > .inner_txt a.start_btn:hover {
  background-color: #20cf70;
}
.flex_wrap {
  max-width: 100%;
  margin-top: 1.25rem;
}
.flex_wrap > div {
  display: flex;
  gap: 1.25rem;
  /* height: 95vh; */
  /* max-height: 100%; */
  margin-top: 1.25rem;
}
.flex_wrap > div:nth-child(even) {
  flex-direction: row-reverse;
}
.flex_wrap > div > div {
  border-radius: 1.5rem;
  /* width: 50%; */
  flex: 1 1 50%;
  aspect-ratio: 1 / 1;
  background: #efefef;
  overflow: hidden;
}
.item1 > div:first-child {
  background: #e8fd65;
}
.item2 > div:first-child,
.item4 > div:first-child {
  background: #20cf70;
}
.item3 > div:first-child {
  background: #b8d0b8;
}

.flex_wrap .item_inner_txt {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.flex_wrap .item_inner_txt > h1 {
  font-size: 2.75rem;
}
.flex_wrap .item_inner_txt > p {
  font-size: 20px;
  margin-top: 1.5rem;
  font-weight: 700;
  white-space: wrap;
}
.flex_wrap video {
  width: 100%;
  height: 100%;
  /* display: block; */
  object-fit: cover;
}
.item_circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #e8fd65 0deg,
    #9747ff 360deg
  );
  animation: rotate 3s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 푸터 */
.foot_wrap {
  margin-top: 20px;
  border-radius: 1.5rem;
  background: #222;
  padding: 2.25rem 2.5rem 6rem;
}
.foot_wrap .foot_top {
  height: 120px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding-bottom: 300px;
}
.foot_wrap .foot_top i {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border-radius: 50%;
  animation: blur 6s linear 0s infinite;
}
@keyframes blur {
  0% {
    filter: blur(0.2px);
  }

  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0.2px);
  }
}
.foot_wrap .foot_top ul {
  display: grid;
  grid-gap: 0 160px;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
}
.foot_wrap .foot_top ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  display: block;
  line-height: 2;
}
.foot_wrap .foot_bt {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.foot_wrap .foot_bt > p {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.foot_wrap .foot_bt > ul {
  display: flex;
  gap: 2vw;
}
.foot_wrap .foot_bt > ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
  font-weight: 400;
}
.foot_wrap .foot_bt > ul li a:hover {
  color: rgba(255, 255, 255, 1);
}
/* 상단 메인 배경 

element.style {
    transform: translate3d(84.2128%, 35.9624%, 0px);
}
.jt-gradient-motion__item-01 {
    background:#20cf70;   
    left: -18.5%;
    top: -46%;

.jt-gradient-motion__item-02 {
    background: #E8FD65;
    left: 26.3%;
    top: 10%;

.jt-gradient-motion__item-03 {
    background: #CC65FD;
    left: 65.7%;
    top: -65%;


*/
