* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

header {
  font-family: "Fahkwang", sans-serif;
  padding: 0 2rem;
  position: absolute;
  left: 0;
  width: 100%;
  top: 20px;
  z-index: 99;
  /* border: 1px solid red; */
}

.header_inner {
  border-radius: 1rem;
  height: 94px;
  /* border: 1px solid; */
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  position: relative;
  overflow: hidden;
}
.header_inner.on {
  position: fixed;
  top: 20px;
  background-color: rgb(250, 250, 250);
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 4rem);
}
.header_inner a {
  font-size: 20px;
}
.header_inner .logo_wrap {
  display: flex;
  gap: 0.4rem;
}
.header_inner .logo {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
}
.header_inner i {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: #222;
  border-radius: 50%;
  animation: blur 6s linear 0s infinite;
}
@keyframes blur {
  0% {
    filter: blur(0.2px);
  }

  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0.2px);
  }
}
.header_inner > nav ul {
  display: flex;
  gap: 2vw;
}
.header_inner > nav ul li a {
  /* font-size: 1vw; */
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 700;
}
.header_inner > nav ul li:hover a {
  font-style: italic;
}

.header_inner > .login {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}
.header_inner > .login > a.log_in {
  display: block;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
}
.header_inner > .login > a.create {
  display: block;
  padding: 0 2.25rem;
  border-radius: 0.4rem;
  line-height: 3.2rem;
  background: #000;
  color: #fff;
  font-weight: 700;
}
.header_inner > .login > a.create:hover,
.menu_btn > a:hover,
.header_mo a.create_m:hover,
.header_mo .close_btn > a:hover {
  background: #cc65fd;
}
.menu_btn {
  display: none;
  position: absolute;
  right: 2rem;
}
.menu_btn > a {
  display: block;
  color: #fff;
  background: #222;
  font-size: 14px;
  padding: 8px 17px;
  border-radius: 3px;
  font-weight: 500;
}
/* 헤더 끝 */
/* 헤더 모바일 시작 */
.header_mo {
  display: none;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: #efefef;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  padding: 20vw 5vw;
  margin: 20px;
  border-radius: 20px;
  transition: 0.5s;
}
.header_mo.on {
  display: block;
}
.header_mo .close_btn {
  position: absolute;
  right: 3.6rem;
  top: 1.9rem;
}
.header_mo .close_btn > a {
  display: inline-block;
  color: #fff;
  background: #222;
  font-size: 14px;
  padding: 8px 17px;
  border-radius: 3px;
  font-weight: 500;
}

.header_mo > nav > ul li a {
  font-size: 1.4rem;
  line-height: 2.2;
  font-weight: 700;
}
.header_mo > nav > ul li a:hover {
  font-style: italic;
}
.header_mo .login_m {
  width: calc(100% - 2rem);
  position: absolute;
  bottom: 2rem;
  left: 0;
  display: flex;
  gap: 2vw;
  justify-content: space-between;
  text-align: center;
}
.header_mo .login_m > a {
  font-size: 1.2rem;
  font-weight: 700;
  flex: 1;
  line-height: 1.5;
  padding: 10px 0;
  border-radius: 1rem;
}
.header_mo .login_m .log_in_m {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
}

.header_mo .login_m .create_m {
  background: #20cf70;
}
/* 헤더 모바일 끝 */

.con_wrap {
  margin: 20px;
  font-family: "Fahkwang", sans-serif;
}
/* 상단배너 */
.main_banner {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
  /* background-color: #ddd; */
  padding: 0 5vw;
}
.main_banner .inner_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.inner_bg_color {
  width: 1142px;
  height: 1142px;
  position: absolute;
  border-radius: 50%;
  filter: blur(500px);
}
.inner_bg > p:nth-child(1) {
  background: #20cf70;
  left: -18.5%;
  top: -46%;
}
.inner_bg > p:nth-child(2) {
  background: #e8fd65;
  left: 26.3%;
  top: 10%;
}
.inner_bg > p:nth-child(3) {
  background: #cc65fd;
  left: 65.7%;
  top: -65%;
}

.main_banner > .inner_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  word-break: keep-all;
}
.main_banner > .inner_txt h1 {
  font-size: 3vw;
  line-height: 1.2;
}
.main_banner > .inner_txt p {
  font-size: 18px;
  /* margin: 1rem 0 3.75rem; */
  margin: 0.5vw 0 2.5vw;
}
.main_banner > .inner_txt a.start_btn {
  display: inline-block;
  padding: 2% 14%;
  background: #000;
  font-size: 24px;
  color: #fff;
  border-radius: 1rem;
}
.main_banner > .inner_txt a.start_btn:hover {
  background-color: #20cf70;
}
.flex_wrap {
  max-width: 100%;
  margin-top: 1.25rem;
}
.flex_wrap > div {
  display: flex;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
.flex_wrap > div:nth-child(even) {
  flex-direction: row-reverse;
}
.flex_wrap > div > div {
  border-radius: 1.5rem;
  flex: 1 1 50%;
  aspect-ratio: 1 / 1;
  background: #efefef;
  overflow: hidden;
}
.item1 > div:first-child {
  background: #e8fd65;
}
.item2 > div:first-child,
.item4 > div:first-child {
  background: #20cf70;
}
.item3 > div:first-child {
  background: #b8d0b8;
}

.flex_wrap .item_inner_txt {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.flex_wrap .item_inner_txt > h1 {
  font-size: 2.5vw;
}
.flex_wrap .item_inner_txt > p {
  font-size: 1.2vw;
  margin-top: 1.5rem;
  font-weight: 700;
  white-space: wrap;
  word-break: keep-all;
}
.flex_wrap video {
  width: 100%;
  height: 100%;
  /* display: block; */
  object-fit: cover;
}
.item_circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #e8fd65 0deg,
    #9747ff 360deg
  );
  animation: rotate 3s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 푸터 */
.foot_wrap {
  height: auto;
  margin-top: 20px;
  border-radius: 1.5rem;
  background: #222;
  padding: 2.25rem 2.5rem 6rem;
}
.foot_wrap .foot_top {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10vw;
}

.foot_wrap .foot_top i {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border-radius: 50%;
  animation: blur 6s linear 0s infinite;
}
@keyframes blur {
  0% {
    filter: blur(0.2px);
  }

  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0.2px);
  }
}
.foot_wrap .foot_top ul {
  display: grid;
  grid-gap: 0 8vw;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
}
.foot_wrap .foot_top ul li a {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  display: block;
  line-height: 2;
}
.foot_wrap .foot_bt {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.foot_wrap .foot_bt > p {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.foot_wrap .foot_bt > ul {
  display: flex;
  gap: 2vw;
}
.foot_wrap .foot_bt > ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
  font-weight: 400;
}
.foot_wrap .foot_bt > ul li a:hover {
  color: rgba(255, 255, 255, 1);
}
