/* 페이퍼로지 폰트 */
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Paperozi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
/* 메인컬러 #ff4713 */
.primary_color {
  color: #ff4713;
}
/* 마우스커서 */
/* .customPointer {
  position: fixed;
  width: 45px;
  height: 45px;
  background-image: url(./images/new_mouse-cursor.png);
  background-size: contain;
  background-position: left top;
  z-index: 999;
} */
/* header 시작 */
.wrap {
  font-family: "Noto Sans KR", sans-serif;
}
.head {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 999;
  background: #fff;
}
.head .inner {
  padding: 0 80px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head .inner > a.logo {
  width: 122px;
}
.head .inner > a.logo > img {
  width: 100%;
  height: 100%;
}

.head .inner > .menu > ul {
  display: flex;
  width: 800px;
  justify-content: space-between;
}
.head .inner > .menu > ul > li {
  width: 120px;
  text-align: left;
}
.head .inner > .menu > ul > li > a {
  font-size: 18px;
  font-weight: 500;
  color: #ff4713;
}

.sub_bg {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 300px;
  background: #fff;
  display: none;
}

.sub {
  position: absolute;
  width: 800px;
  justify-content: space-between;
  display: flex;
  text-align: left;
  font-size: 18px;
  top: 0;
  left: 50%;
  transform: translate(-60%, 0);
}
.sub ul li {
  width: 120px;
  text-align: left;
}
.sub ul li a {
  font-size: 18px;
  color: #ff4713;
  line-height: 40px;
}
.head .inner > .link {
  display: flex;
  align-items: center;
}
.head .inner > .link > a.fc_btn {
  background-color: #ff4713;
  color: #fff;
  padding: 7px 24px;
  border-radius: 20px;
  margin-right: 35px;
}
.head .inner > .link > a.fc_btn.on {
  color: #ff4713;
  border: 1px solid #ff4713;
  background-color: transparent;
}
.head .inner > .link > a:nth-child(3) {
  margin: 0 15px;
}
/* header 끝 */
/* section visual_wrap 시작*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* section visual_wrap 끝*/
/* section cafe_menu 시작*/
.menuCon {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}
.menuCon > div {
  flex: 1;
  height: 100%;
  position: relative;
}
.menuCon > div:first-child > ul {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.menuCon > div:first-child > ul > li {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.menuCon > div:first-child > ul > li:nth-child(1) {
  background-image: url(./images/signature_menu_bg1.jpg);
}
.menuCon > div:first-child > ul > li:nth-child(2) {
  background-image: url(./images/beverage_menu_bg2.jpg);
}
.menuCon > div:first-child > ul > li:nth-child(3) {
  background-image: url(./images/coffee_menu_bg3.png);
}
.menuCon > div:first-child > ul > li:nth-child(4) {
  background-image: url(./images/crogle_menu_bg4.jpg);
}
.menuCon > div:first-child nav {
  font-family: "Paperozi";
  position: absolute;
  top: 5rem;
  left: 5rem;
  z-index: 10;
  color: #fff;
}
.menuCon > div:first-child nav > h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.menuCon > div:first-child nav > ul > li > a {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
  text-underline-offset: 5px;
}
.menuCon > div:first-child nav > ul > li > a.on {
  text-decoration: underline;
  font-weight: 700;
  text-decoration-thickness: 3px;
}
.menuCon .inner {
  text-transform: uppercase;
  padding-top: 120px;
  box-sizing: border-box;
  width: 65%;
  max-width: 100%;
  margin-left: auto;
  margin-right: 60px;
  height: 100%;
  overflow: hidden;
}

.menuCon .inner h2 {
  font-family: "Paperozi";
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.menuCon .inner p {
  font-size: 18px;
}
.menuCon .inner .menu_item {
  margin: 50px 0;
  /* width: 650px; */
  /* height: 320px; */
  display: flex;
  flex-wrap: wrap;
}
.menuCon .inner .menu_item a {
  width: calc((100% - 5px) / 3);
}
.menuCon .inner .menu_item img {
  max-width: 100%;
  display: block;
}
.menuCon .inner .menu_recomm > p {
  font-size: 22px;
  color: #ff4713;
  font-weight: bold;
  border-bottom: 1px solid #ff4713;
  padding-bottom: 11px;
}
.menuCon .inner .menu_recomm .recomm_item {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
.menuCon .inner .menu_recomm .recomm_item > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.menuCon .inner .menu_recomm .recomm_item > div img {
  width: 70px;
  display: block;
}
.menuCon .inner .menu_recomm .recomm_item > div > p {
  font-size: 14px;
  color: #ff4713;
}
.menuCon > p {
  position: absolute;
  width: 30vw;
  max-width: 440px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.menuCon > p img {
  width: 100%;
}

.menuCon > div:first-child > ul > li.on {
  animation: 1s widthIn cubic-bezier(0.76, 0, 0.24, 1);
  animation-fill-mode: forwards;
}
@keyframes widthIn {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.menuCon > div:nth-child(2) ul {
  position: relative;
  height: 100%;
}
.menuCon > div:nth-child(2) ul li {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  display: none;
}
.menuCon > div:nth-child(2) ul li.on {
  display: block;
}
/* section cafe_menu 끝*/
/* 문구 배너 */
section.banner_copy > p:first-child {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 160px 0;
}
section.banner_copy > p:last-child > img {
  max-width: 100%;
}
/* 텍스트 애니메이션 시작 */
div.marquee_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 30px 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid #ff4713;
}
div.marquee_wrap .marquee_txt {
  font-size: 36px;
}
div.marquee_wrap .marquee_txt img {
  margin-right: 10px;
  margin-bottom: 5px;
  vertical-align: middle;
}
/* 텍스트 애니메이션 끝 */
/* 뉴스&이벤트 시작*/
.newsEvent_wrap {
  width: 100%;
  position: relative;
}
.newsEvent_wrap .newsEvent {
  display: flex;
}
.newsEvent_wrap .newsEvent .news {
  width: 40%;
  position: relative;
  border-bottom: 1px solid rgba(111, 112, 112, 0.3);
}
.newsEvent_wrap .newsEvent .news h1 {
  color: #ff4713;
  font-size: 100px;
  line-height: 100px;
  position: absolute;
  top: 40px;
  left: 80px;
}
.newsEvent_wrap .newsEvent .event {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.newsEvent_wrap .newsEvent .event > div {
  width: 100%;
  flex: 1;
  padding: 60px;
  border-bottom: 1px solid rgba(111, 112, 112, 0.3);
  border-left: 1px solid rgba(111, 112, 112, 0.3);
}
.newsEvent_wrap .newsEvent .event .event_item {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: #ff4713;
  /* cursor: pointer; */
}
.newsEvent_wrap .newsEvent .event .item_txt > p:first-child {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.7;
}
.newsEvent_wrap .newsEvent .event .item_txt > p:nth-child(2) {
  font-size: 24px;
  line-height: 33px;
  margin: 15px 0;
  font-weight: bold;
}
.newsEvent_wrap .newsEvent .event .item_txt > p:last-child {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.newsEvent_wrap .newsEvent .event .event_item .event_img {
  position: absolute;
  top: 0;
  right: 190px;
  width: 224.66px;
  height: 100%;
  opacity: 0;
  transition: 0.8s;
}
.newsEvent_wrap .newsEvent .event .event_item:hover .event_img {
  opacity: 1;
}
.newsEvent_wrap .newsEvent .event .event_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 999;
}

/* 뉴스&이벤트 끝 */
/* 애니메이션 */
div.ani1 {
  width: 186px;
  height: 186px;
  position: relative;
  top: -50px;
  left: 80px;
}
div.ani1 > a,
div.ani1 > p > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
div.ani1 > p > img {
  width: 100%;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  /* from {
    transform: translate(-50%, -50%) rotate(0);
  } */
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* 인스타그램 시작*/
section.sns_wrap {
  width: 100%;
}
section.sns_wrap > .sns_title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
section.sns_wrap > .sns_title > p:last-child {
  font-size: 50px;
  color: #ff4713;
  font-weight: bold;
}
section.sns_wrap > ul.sns_img {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 70px 0;
}
section.sns_wrap > ul.sns_img > li {
  width: 20%;
}
section.sns_wrap > ul.sns_img > li > img {
  width: 381px;
  height: 470px;
  object-fit: cover;
}
/* 인스타그램 끝*/
/* 푸터 시작 */
footer > .footer_inner {
  background-color: #ff4713;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
footer > .footer_inner > a {
  margin-top: 80px;
  margin-bottom: 40px;
}
footer > .footer_inner ul.footer_link {
  display: flex;
  gap: 3vw;
  margin-bottom: 40px;
}
footer > .footer_inner > p:nth-child(3) {
  font-weight: 500;
}
footer > .footer_inner > .footer_info {
  margin: 50px 0 40px;
}
footer > .footer_inner > .footer_info span {
  font-size: 14px;
  position: relative;
}
footer > .footer_inner > .footer_info span::after {
  content: "";
  position: absolute;
  right: -8px;
  top: 4px;
  width: 2px;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.5);
}
footer
  > .footer_inner
  > .footer_info
  > div:first-child
  > span:last-child:after {
  width: 0;
}
footer
  > .footer_inner
  > .footer_info
  > div:last-child
  > span:nth-child(4):after,
footer
  > .footer_inner
  > .footer_info
  > div:last-child
  > span:nth-child(5):after {
  width: 0;
}
footer > .footer_inner > .footer_info > div {
  margin: 10px 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}
footer > .footer_inner > p:last-child {
  font-size: 12px;
  margin-bottom: 60px;
}
/* 푸터 끝 */
